<h1>Angular Auth OIDC Client Test</h1>

<h2>isAuthenticated$:</h2>

<pre>{{ isAuthenticated$ | async }}</pre>

<h2>userData$:</h2>

<pre>{{ userData$ | async | json }}</pre>

<h2>tokenExpiryTime:</h2>

<p *ngIf="tokenExpiryTime">
  {{ tokenExpiryTime }} ← When this time passes, I would expect isAuthenticated$
  to fire false.
</p>

<h2>Actions:</h2>

<p>
  <button (click)="handleSignInClick()" [disabled]="isAuthenticated$ | async">
    Sign in
  </button>

  &nbsp;

  <button
    (click)="handleSignOutClick()"
    [disabled]="!(isAuthenticated$ | async)"
  >
    Sign out
  </button>
</p>

<router-outlet></router-outlet>
